20250313_Nodered_configflows.json
[{"id":"15e0c7d09fb8a8ab","type":"tab","label":"ShowerCounter","disabled":false,"info":"","env":[]},{"id":"d2efc6fd01096702","type":"tab","label":"Connexion HA","disabled":false,"info":"","env":[]},{"id":"6155a54048d3dfd0","type":"tab","label":"IHM Test","disabled":false,"info":"","env":[]},{"id":"09b1844972f45de3","type":"tab","label":"Set Variable","disabled":false,"info":"","env":[]},{"id":"96adc970f347a9f2","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["81afc4855bd0fe21","a44c05b5532e8a7e","0d29447969af9b25","f0933c1f9e12afd9","4c8a0438abd0004e","b9fb06eb5dfe5677"],"x":874,"y":1019,"w":342,"h":462},{"id":"22540f9059587257","type":"group","z":"15e0c7d09fb8a8ab","name":"","style":{"label":true},"nodes":["88590a190bdb2f44","3d27b2b010f344a9","e3b07539abc79bee","e39ac5b7be49f6c3"],"x":2034,"y":1179,"w":272,"h":202},{"id":"278893b3954fc65d","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d1cc97f406ed10a4","7288063acb94587d","15d2192a87f991d6","ae3466c7914f2853"],"x":1114,"y":279,"w":332,"h":202},{"id":"197de84bbf9fbdad","type":"group","z":"15e0c7d09fb8a8ab","name":"","style":{"label":true},"nodes":["323f256b58dfb426","92740f885b3cb1d8","7a1da5cdbe3249f6","a875d211375dde7e","ad88363e239e3819","4398c25a075ec807","eb18f1678a25a144","1ec1ead7826180fe","4bb1abb4c941c871","5153af7a605f7a48","20eb19b4c6e12958","2ff0d7ee21d56682","ef32a8c12b97af96","c7c75fea07cf6084","cd264cf4adf89e6c","90b5eff9867fcd80","bb284ad6a416d70e","6d2e0ff6d2703460","1ab9ec3a179fe529","aa3c2bec6cd6c6d1"],"x":214,"y":279,"w":832,"h":502},{"id":"ba3907d622ec968f","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["406ceabf7c556cca","6ea366a78c2989de","40577e4fdd731fc7","e8789f8903a9ab7d","22cfeb7124dff484","58961ca2cf5bc177","fb3489460594a2dd","fe483192805b3e80","3046ee9ee756456e","ca116bcf406a086d","b33e44676be76412","5a14bef676466960","0db57d1aaa657ab4","2a47da02ae142b15"],"x":1154,"y":959,"w":792,"h":422},{"id":"e3b21686468dd335","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["76a8d4160c591b04","69775273c2e59ab7","5e6852be7cf09018","8e704e1f7f3d2364","526d417796bee364"],"x":1424,"y":-21,"w":262,"h":242},{"id":"2923bbff68ab2aab","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0330fd6fd7fa371c","ad9dd9e9106bed3e","9512b65b149be79e","3691824a66672e81","ad4acfed5607a126","8d7ee82cd63fec9a","20720c2cc6a7b951","964e86ae36633d32","96b235d279377712","273387074bb270b3","509cd13f3ccab92a","c24f3b0710612f6d","9d78765f5128e4e9","2f198d8c2c452a2e","822668cd5e66d473","24dddfaef5f612d9","fcb2499e2173f340"],"x":1028,"y":519,"w":1128,"h":402},{"id":"45017b418b1287bb","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c2c2c7d0109dee48","b36aa30.3a7276","70154cd4.de1444","d450153f6af7777c"],"x":1814,"y":319,"w":532,"h":142},{"id":"6c284ee05d23193c","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["22abba057d5d93a2","9c4a34bd85bfba21","12db8fbabe09b9d6","7971b15445deb2d6","a36b6351ec4cbc0b","4f7615fefb6a9dd0","5eccb2c3621550d0","fa9286d55f110b05","2e14033cf70413c5"],"x":4,"y":779,"w":842,"h":202},{"id":"050d94aeace1b989","type":"group","z":"15e0c7d09fb8a8ab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3327ed38f5c42b61","ade7080374c4e248","2133ef81c4ea650c"],"x":2514,"y":1059,"w":272,"h":202},{"id":"964e86ae36633d32","type":"group","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b1d628922ddf6e09","2e7f43f3940334f7","2ec047d51412f6ce","cf2fdd0f0ab8f6b6","6f993372b5d178ac","9f7dcd1e4ca96385","6190d7d854e6bbc5"],"x":1054,"y":559,"w":252,"h":322},{"id":"2f198d8c2c452a2e","type":"junction","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","x":1340,"y":720,"wires":[["273387074bb270b3","0330fd6fd7fa371c"]]},{"id":"fcb2499e2173f340","type":"junction","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","x":1720,"y":720,"wires":[["c2c2c7d0109dee48","509cd13f3ccab92a","ad9dd9e9106bed3e","96b235d279377712","9d78765f5128e4e9"]]},{"id":"bf9de841.3818b8","type":"server","name":"Home Assistant","addon":true},{"id":"519e5c0f85be36c7","type":"ha-entity-config","server":"bf9de841.3818b8","deviceConfig":"","name":"haconfig","version":6,"entityType":"time","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""}],"resend":false,"debugEnabled":false},{"id":"fdf11f91.a57c3","type":"ui_tab","name":"Shower Counter","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e9d2ffc0.56619","type":"ui_group","name":"ShowerCounter","tab":"fdf11f91.a57c3","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0a56788665f55bc7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"04d9cfd7994efe02","type":"mqtt-broker","name":"mqtt_ha","broker":"192.168.1.100","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"db50f97ff27d02f4","type":"ha-device-config","name":"CongiHA","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"c856fa80bf645c13","type":"ha-entity-config","server":"bf9de841.3818b8","deviceConfig":"db50f97ff27d02f4","name":"TimerOrig","version":6,"entityType":"number","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"s"},{"property":"min_value","value":1},{"property":"max_value","value":60},{"property":"step_value","value":1},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"64ab80400b68a43c","type":"global-config","name":"global-config","env":[{"name":"ValCounterMinuteDef","value":"5","type":"str"},{"name":"ValSensorShowerMinimum","value":"1200","type":"str"}]},{"id":"bc865c2fb8aadb1a","type":"ha-entity-config","server":"bf9de841.3818b8","deviceConfig":"db50f97ff27d02f4","name":"homeassistantconfig","version":6,"entityType":"button","haConfig":[{"property":"name","value":"Shower Button 2"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3ea05a757080a733","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"6f30d6a2b03e3aee","type":"ui_spacer","z":"15e0c7d09fb8a8ab","name":"spacer","group":"e9d2ffc0.56619","order":3,"width":1,"height":1},{"id":"8c27d2deef750fa3","type":"ui_spacer","z":"15e0c7d09fb8a8ab","name":"spacer","group":"e9d2ffc0.56619","order":4,"width":1,"height":1},{"id":"746276e5d3380ef4","type":"ui_tab","name":"Test2","icon":"dashboard","disabled":false,"hidden":false},{"id":"895ba8aaf51fd7a0","type":"ui_group","name":"Default","tab":"746276e5d3380ef4","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"01cd577b4a9b2bd6","type":"ui_group","name":"Group 2","tab":"746276e5d3380ef4","order":3,"disp":true,"width":6},{"id":"b19f23cc4bdb57f0","type":"ui_group","name":"Group 3","tab":"746276e5d3380ef4","order":4,"disp":true,"width":6},{"id":"5295e8cc4624a764","type":"ui_group","name":"Analyze","tab":"746276e5d3380ef4","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"81afc4855bd0fe21","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","name":"Add 5 min","group":"e9d2ffc0.56619","order":5,"width":0,"height":0,"passthru":true,"label":"Add 5 min","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":960,"y":1180,"wires":[["6ea366a78c2989de"]]},{"id":"406ceabf7c556cca","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"InitTimer","func":"const valCounter=parseInt(global.get(\"ValCounterMinuteDef\")) *60 +10;\n// var valCounter=5*60 + 10\nmsg.payload=valCounter;\nflow.set(\"timer\",valCounter);\nflow.set(\"timer_run\",0);\nmsg.payload = flow.get(\"timer\");\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1060,"wires":[["40577e4fdd731fc7","2a47da02ae142b15"]]},{"id":"6ea366a78c2989de","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"Add 5 min","func":"const temp = flow.get(\"timer\") ;\nconst timer = temp + 300;\nflow.set(\"timer\",timer);\n\nmsg.payload = timer;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1180,"wires":[["40577e4fdd731fc7","2a47da02ae142b15"]]},{"id":"a44c05b5532e8a7e","type":"ui_ui-button","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","action":"click","actionType":"str","name":"Init","group":"e9d2ffc0.56619","order":2,"width":0,"height":0,"passthru":true,"label":"Init","tooltip":"","color":"","bgcolor":"","icon":"","x":950,"y":1060,"wires":[["406ceabf7c556cca"]]},{"id":"40577e4fdd731fc7","type":"ui_text","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","group":"e9d2ffc0.56619","order":18,"width":0,"height":0,"name":"","label":"Décompte","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1810,"y":1040,"wires":[]},{"id":"e8789f8903a9ab7d","type":"delay","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1440,"y":1260,"wires":[["fb3489460594a2dd"]]},{"id":"0d29447969af9b25","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","name":"GO","group":"e9d2ffc0.56619","order":7,"width":0,"height":0,"passthru":true,"label":"GO","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":950,"y":1220,"wires":[["22cfeb7124dff484","88590a190bdb2f44","b9fb06eb5dfe5677"]]},{"id":"22cfeb7124dff484","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"Run Timer","func":"var timer_run = flow.get(\"timer_run\");\n\n//if (timer_run == 0)\n//{ \n    flow.set(\"timer_run\", 1); \n    \n    return msg;\n//}\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"timer_run\", 0); ","finalize":"","libs":[],"x":1250,"y":1240,"wires":[["e8789f8903a9ab7d"]]},{"id":"f0933c1f9e12afd9","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","name":"Pause","group":"e9d2ffc0.56619","order":8,"width":0,"height":0,"passthru":true,"label":"Pause","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":950,"y":1300,"wires":[["58961ca2cf5bc177"]]},{"id":"58961ca2cf5bc177","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"Pause Timer","func":"var temp = flow.set(\"timer_run\",0);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":1300,"wires":[["e8789f8903a9ab7d"]]},{"id":"fb3489460594a2dd","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"","func":"msg.payload = flow.get(\"timer\"); \nconst run = flow.get(\"timer_run\");\n\nif (run == 1 && msg.payload > 1){\n    // on décompte 1 seconde\n    msg.payload = msg.payload-1;\n    // on sauvegarde la nouvelle valeur\n    flow.set(\"timer\",msg.payload);\n    return msg;\n}else if (msg.payload == 1){\n    msg.payload = \"Terminé !\"\n    // pour ne plus boucler si terminé\n    flow.set(\"timer\",0);    \n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1260,"wires":[["40577e4fdd731fc7","e8789f8903a9ab7d","fe483192805b3e80","3046ee9ee756456e","ca116bcf406a086d","5a14bef676466960","0db57d1aaa657ab4"]]},{"id":"fe483192805b3e80","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"toSeconde","func":"msg.payload = flow.get(\"timer\"); \n\nfunction convertMinute(seconds) {\n    const remainingMinutes = Math.floor(seconds / 60);\n    return remainingMinutes;    \n}\n\nfunction convertSeconds(seconds) {\n    const remainingSeconds = seconds % 60;  \n    return remainingSeconds;   \n}\n\nconst minutes=convertMinute(msg.payload)\nconst secondes=convertSeconds(msg.payload)\n\n// on sauvegarde la nouvelle valeur\nflow.set(\"timer_minute\",minutes);\nflow.set(\"timer_second\",secondes);\n\nmsg.payload=secondes;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1160,"wires":[["2133ef81c4ea650c"]]},{"id":"3046ee9ee756456e","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"toMinute","func":"msg.payload = flow.get(\"timer\"); \n\nfunction convertMinute(seconds) {\n    const remainingMinutes = Math.floor(seconds / 60);\n    return remainingMinutes;    \n}\n\nfunction convertSeconds(seconds) {\n    const remainingSeconds = seconds % 60;  \n    return remainingSeconds;   \n}\n\nconst minutes=convertMinute(msg.payload)\nconst secondes=convertSeconds(msg.payload)\n\n// on sauvegarde la nouvelle valeur\nflow.set(\"timer_minute\",minutes);\nflow.set(\"timer_second\",secondes);\n\nmsg.payload=minutes;\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1100,"wires":[["ade7080374c4e248"]]},{"id":"ade7080374c4e248","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"050d94aeace1b989","name":"shower_count/minutes","topic":"shower_counter/minutes","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":2640,"y":1100,"wires":[]},{"id":"2133ef81c4ea650c","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"050d94aeace1b989","name":"shower_count/secondes","topic":"shower_counter/secondes","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":2650,"y":1160,"wires":[]},{"id":"88590a190bdb2f44","type":"function","z":"15e0c7d09fb8a8ab","g":"22540f9059587257","name":"musique_start_set","func":"var music_type = 1;\nflow.set(\"muscic_type\", music_type);\nmsg.payload=1;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nvar music_type = 0;\nflow.set(\"muscic_type\", music_type);","finalize":"","libs":[],"x":2150,"y":1220,"wires":[["3327ed38f5c42b61"]]},{"id":"3d27b2b010f344a9","type":"function","z":"15e0c7d09fb8a8ab","g":"22540f9059587257","name":"musique_middle_set","func":"var music_type = 2;\nflow.set(\"muscic_type\", music_type);\nmsg.payload=2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":1260,"wires":[["3327ed38f5c42b61"]]},{"id":"e3b07539abc79bee","type":"function","z":"15e0c7d09fb8a8ab","g":"22540f9059587257","name":"musique_oneminute_set","func":"var music_type = 3;\nflow.set(\"muscic_type\", music_type);\nmsg.payload=3;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2170,"y":1300,"wires":[["3327ed38f5c42b61"]]},{"id":"e39ac5b7be49f6c3","type":"function","z":"15e0c7d09fb8a8ab","g":"22540f9059587257","name":"musique_end_set","func":"var music_type = 4;\nflow.set(\"muscic_type\", music_type);\nmsg.payload=4;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":1340,"wires":[["3327ed38f5c42b61"]]},{"id":"3327ed38f5c42b61","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"050d94aeace1b989","name":"","topic":"shower_counter/music","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":2640,"y":1220,"wires":[]},{"id":"ca116bcf406a086d","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"remaineOneminute","func":"msg.payload = flow.get(\"timer\"); \n\n\nfunction convertMinute(seconds) {\n    const remainingMinutes = Math.floor(seconds / 60);\n    return remainingMinutes;    \n}\n\nfunction convertSeconds(seconds) {\n    const remainingSeconds = seconds % 60;  \n    return remainingSeconds;   \n}\n\nconst minutes=convertMinute(msg.payload)\nconst secondes=convertSeconds(msg.payload)\n\nif (msg.payload < 60 )\n{\n    var timer_one_minute = flow.get(\"timer_oneminute\");\n    if (timer_one_minute == 0)\n    {\n        msg.payload=3 // Music one minute\n        flow.set(\"timer_oneminute\", 1);\n        return msg;    \n    }\n}\nelse\n{\n    flow.set(\"timer_oneminute\", 0);\n}\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"timer_oneminute\", 0);","finalize":"","libs":[],"x":1830,"y":1300,"wires":[["e3b07539abc79bee"]]},{"id":"4c8a0438abd0004e","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","name":"Add 3 min","group":"e9d2ffc0.56619","order":6,"width":0,"height":0,"passthru":true,"label":"Add 3 min","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":960,"y":1120,"wires":[["b33e44676be76412"]]},{"id":"b33e44676be76412","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"add3min","func":"const temp = flow.get(\"timer\") ;\nconst timer = temp + 180;\nflow.set(\"timer\",timer);\n\nmsg.payload = timer;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1120,"wires":[["40577e4fdd731fc7","2a47da02ae142b15"]]},{"id":"5a14bef676466960","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"remaine3minute","func":"msg.payload = flow.get(\"timer\"); \n\n\nfunction convertMinute(seconds) {\n    const remainingMinutes = Math.floor(seconds / 60);\n    return remainingMinutes;    \n}\n\nfunction convertSeconds(seconds) {\n    const remainingSeconds = seconds % 60;  \n    return remainingSeconds;   \n}\n\nconst minutes=convertMinute(msg.payload)\nconst secondes=convertSeconds(msg.payload)\n\nif (msg.payload < 180 )\n{\n    var timer_one_minute = flow.get(\"timer_threeeminute\");\n    if (timer_one_minute == 0)\n    {\n        msg.payload=2 // Music one minute\n        flow.set(\"timer_threeeminute\", 1);\n        return msg;    \n    }\n}\nelse\n{\n    flow.set(\"timer_threeeminute\", 0);\n}\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"timer_threeeminute\", 0);","finalize":"","libs":[],"x":1820,"y":1260,"wires":[["3d27b2b010f344a9"]]},{"id":"0db57d1aaa657ab4","type":"function","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","name":"theEnd","func":"msg.payload = flow.get(\"timer\"); \n\n\nfunction convertMinute(seconds) {\n    const remainingMinutes = Math.floor(seconds / 60);\n    return remainingMinutes;    \n}\n\nfunction convertSeconds(seconds) {\n    const remainingSeconds = seconds % 60;  \n    return remainingSeconds;   \n}\n\nconst minutes=convertMinute(msg.payload)\nconst secondes=convertSeconds(msg.payload)\n\nif (msg.payload < 1 )\n{\n    var timer_end = flow.get(\"timer_end\");\n \n    if (timer_end == 0)\n    {\n        msg.payload=4 // Music one minute\n        flow.set(\"timer_end\", 1);\n        return msg;    \n\n    }\n}\nelse\n{\n    flow.set(\"timer_end\", 0);\n}\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"timer_end\", 0);","finalize":"","libs":[],"x":1790,"y":1340,"wires":[["e39ac5b7be49f6c3","6f993372b5d178ac"]]},{"id":"b0c95ccb5f7c1425","type":"ui_button","z":"15e0c7d09fb8a8ab","name":"Locke valve","group":"e9d2ffc0.56619","order":9,"width":0,"height":0,"passthru":true,"label":"Locke valve","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2030,"y":2180,"wires":[["b7a1136403fcd1e0"]]},{"id":"fd3fef16ce5d9f59","type":"ui_button","z":"15e0c7d09fb8a8ab","name":"Unlocke valve","group":"e9d2ffc0.56619","order":10,"width":0,"height":0,"passthru":true,"label":"Unlocke valve","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2020,"y":2100,"wires":[["c9019817d60375c6"]]},{"id":"c9019817d60375c6","type":"api-call-service","z":"15e0c7d09fb8a8ab","d":true,"name":"Unlock Valvee","server":"bf9de841.3818b8","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.chauffeeauctrl_valve_chauffe_eau"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":2240,"y":2100,"wires":[[]]},{"id":"b7a1136403fcd1e0","type":"api-call-service","z":"15e0c7d09fb8a8ab","d":true,"name":"Lock Valvee","server":"bf9de841.3818b8","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.chauffeeauctrl_valve_chauffe_eau"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":2230,"y":2180,"wires":[[]]},{"id":"19f453440e9c6994","type":"inject","z":"15e0c7d09fb8a8ab","name":"Poll 5s","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"ValCounterMin","v":"ValCounterMin","vt":"env"},{"p":"ValSensorShowsMin","v":"ValSensorShowsMin","vt":"env"}],"repeat":"5","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["a875d211375dde7e","4bb1abb4c941c871"]]},{"id":"323f256b58dfb426","type":"switch","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"isZero","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":930,"y":560,"wires":[["b1d628922ddf6e09"]]},{"id":"92740f885b3cb1d8","type":"function","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"getNbValMinCounter","func":"const valeur_min_counter=1300;\n//const valeur_min_counter=flow.get(\"ValSensorShowerMin\");\nconst donnees = msg.payload;\nconst nombreElements = donnees.length;\n\nlet nombreStateSup = 0;\n\n\nif(donnees.length < 2 )\n{\n  msg.payload=0;\n  return msg;\n}\n\nfor (let i = 0; i < donnees.length; i++) {\nif (parseInt(donnees[i].state) > valeur_min_counter) {\n    nombreStateSup++;\n  }\n}\nmsg.payload = nombreStateSup;\nmsg.valeur_min_counter = valeur_min_counter;\n\nmsg.payload = donnees;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nconst valeur_min_counter = flow.set(\"ValSensorShowerMin\",1000);\n","finalize":"","libs":[],"x":600,"y":520,"wires":[["323f256b58dfb426","d1cc97f406ed10a4","aa3c2bec6cd6c6d1"]]},{"id":"7a1da5cdbe3249f6","type":"api-get-history","z":"15e0c7d09fb8a8ab","d":true,"g":"197de84bbf9fbdad","name":"Get 12 min WaterFlow","server":"bf9de841.3818b8","version":1,"startDate":"","endDate":"","entityId":"sensor.chauffeeauctrl_water_pulse_counter","entityIdType":"equals","useRelativeTime":true,"relativeTime":"12 min","flatten":true,"outputType":"array","outputLocationType":"msg","outputLocation":"payload","x":360,"y":440,"wires":[["92740f885b3cb1d8","c7c75fea07cf6084"]]},{"id":"a875d211375dde7e","type":"api-get-history","z":"15e0c7d09fb8a8ab","d":true,"g":"197de84bbf9fbdad","name":"Get1minWaterFlow","server":"bf9de841.3818b8","version":1,"startDate":"","endDate":"","entityId":"sensor.chauffeeauctrl_water_pulse_counter","entityIdType":"equals","useRelativeTime":true,"relativeTime":"1 min","flatten":true,"outputType":"array","outputLocationType":"msg","outputLocation":"payload","x":330,"y":620,"wires":[["ad88363e239e3819","ef32a8c12b97af96"]]},{"id":"ad88363e239e3819","type":"function","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"computeGo","func":"//const valeur_min_counter=global.get(\"ValSensorShowerMin\");\nconst valeur_min_counter=1300;\nconst donnees = msg.payload;\nconst nombreElements = donnees.length;\n\nlet nombreStateSup = 0;\nlet nombreStateZero = 0\n\nfor (let i = 0; i < donnees.length; i++) {\n  if (donnees[i].state <= valeur_min_counter) {\n    nombreStateZero++;\n  }\n  else if (parseInt(donnees[i].state) > valeur_min_counter) {\n    nombreStateSup++;\n  }\n}\n\nif ( nombreStateSup>1 )\n{\n  if (nombreStateZero == 0 )\n    {\n    msg.payload = nombreStateSup;\n    }\n    else\n    {\n      msg.payload = 0.5;\n    }  \n}\nelse \n{\n  msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":620,"wires":[["4398c25a075ec807","7288063acb94587d","20eb19b4c6e12958","6d2e0ff6d2703460"]]},{"id":"4398c25a075ec807","type":"switch","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"isSupEgOne","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":950,"y":620,"wires":[["cf2fdd0f0ab8f6b6"]]},{"id":"eb18f1678a25a144","type":"switch","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"isZero","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":930,"y":680,"wires":[["2e7f43f3940334f7"]]},{"id":"d1cc97f406ed10a4","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"278893b3954fc65d","name":"","topic":"shower_counter/no_water_12min","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":1280,"y":320,"wires":[]},{"id":"7288063acb94587d","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"278893b3954fc65d","name":"","topic":"shower_counter/water_1min","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":1260,"y":360,"wires":[]},{"id":"15d2192a87f991d6","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"278893b3954fc65d","name":"","topic":"shower_counter/no_water_5s","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":1270,"y":400,"wires":[]},{"id":"0330fd6fd7fa371c","type":"state-machine","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["Init","InProgress","Pause","Stop","Disable"],"transitions":[{"name":"No Water 10 min","from":"InProgress","to":"Init"},{"name":"No Water 10 min","from":"Pause","to":"Init"},{"name":"No Water 10 min","from":"Stop","to":"Init"},{"name":"No Water 5 s","from":"InProgress","to":"Pause"},{"name":"Water Present 1 min","from":"Init","to":"InProgress"},{"name":"End Timer Shower","from":"InProgress","to":"Stop"},{"name":"Water Present 5 s","from":"Pause","to":"InProgress"},{"name":"Water Present 1 min","from":"Pause","to":"InProgress"},{"name":"Disable","from":"*","to":"Disable"},{"name":"Enable","from":"*","to":"Init"}],"x":1480,"y":720,"wires":[["822668cd5e66d473","c24f3b0710612f6d","fcb2499e2173f340"]]},{"id":"76a8d4160c591b04","type":"inject","z":"15e0c7d09fb8a8ab","d":true,"g":"e3b21686468dd335","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Water Present 1 min","payloadType":"str","x":1570,"y":140,"wires":[["0330fd6fd7fa371c"]]},{"id":"69775273c2e59ab7","type":"inject","z":"15e0c7d09fb8a8ab","d":true,"g":"e3b21686468dd335","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"No Water 10 min","payloadType":"str","x":1550,"y":20,"wires":[["0330fd6fd7fa371c"]]},{"id":"5e6852be7cf09018","type":"inject","z":"15e0c7d09fb8a8ab","d":true,"g":"e3b21686468dd335","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Water Present 5s","payloadType":"str","x":1560,"y":100,"wires":[["0330fd6fd7fa371c"]]},{"id":"8e704e1f7f3d2364","type":"inject","z":"15e0c7d09fb8a8ab","d":true,"g":"e3b21686468dd335","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"End Timer Shower","payloadType":"str","x":1560,"y":180,"wires":[["0330fd6fd7fa371c"]]},{"id":"526d417796bee364","type":"inject","z":"15e0c7d09fb8a8ab","d":true,"g":"e3b21686468dd335","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"No Water 5s","payloadType":"str","x":1540,"y":60,"wires":[["0330fd6fd7fa371c"]]},{"id":"ad9dd9e9106bed3e","type":"switch","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Init","vt":"str"},{"t":"eq","v":"InProgress","vt":"str"},{"t":"eq","v":"Pause","vt":"str"},{"t":"eq","v":"Stop","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1880,"y":720,"wires":[["3691824a66672e81","24dddfaef5f612d9"],["ad4acfed5607a126","24dddfaef5f612d9"],["8d7ee82cd63fec9a","24dddfaef5f612d9"],["20720c2cc6a7b951","24dddfaef5f612d9"]]},{"id":"9512b65b149be79e","type":"comment","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"1) Init 2) In Progress 3) Pause 4) Stop","info":"1) Init\n2) In Progress\n3) Pause\n4) Stop\n","x":1520,"y":820,"wires":[]},{"id":"1ec1ead7826180fe","type":"switch","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"SupZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":940,"y":740,"wires":[["2ec047d51412f6ce"]]},{"id":"4665da9dd5bd458d","type":"inject","z":"15e0c7d09fb8a8ab","name":"Poll 1 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["7a1da5cdbe3249f6"]]},{"id":"b1d628922ddf6e09","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"No Water 10 min","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Water 10 min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":600,"wires":[["2f198d8c2c452a2e"]]},{"id":"2e7f43f3940334f7","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"No Water 5 s","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Water 5 s","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":640,"wires":[["2f198d8c2c452a2e"]]},{"id":"2ec047d51412f6ce","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"Water Present 5 s","rules":[{"t":"set","p":"payload","pt":"msg","to":"Water Present 5 s","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":680,"wires":[["2f198d8c2c452a2e"]]},{"id":"cf2fdd0f0ab8f6b6","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"Water Present 1 min","rules":[{"t":"set","p":"payload","pt":"msg","to":"Water Present 1 min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":720,"wires":[["2f198d8c2c452a2e"]]},{"id":"6f993372b5d178ac","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"End Timer Shower","rules":[{"t":"set","p":"payload","pt":"msg","to":"End Timer Shower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":760,"wires":[["2f198d8c2c452a2e"]]},{"id":"9c4a34bd85bfba21","type":"timer-node","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"Timer1h","topic":"","timer":"3600","payloadOn":"true","payloadOnType":"bool","payloadOff":"false","payloadOffType":"bool","x":580,"y":820,"wires":[["22abba057d5d93a2"],[]]},{"id":"9f7dcd1e4ca96385","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":800,"wires":[["2f198d8c2c452a2e"]]},{"id":"6190d7d854e6bbc5","type":"change","z":"15e0c7d09fb8a8ab","g":"964e86ae36633d32","name":"Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":840,"wires":[["2f198d8c2c452a2e"]]},{"id":"22abba057d5d93a2","type":"switch","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":820,"wires":[["9f7dcd1e4ca96385"],["6190d7d854e6bbc5"]]},{"id":"3691824a66672e81","type":"link out","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"Init","mode":"link","links":["a5f5d74ebd50d848","217b8246502f6d3c"],"x":2035,"y":660,"wires":[]},{"id":"ad4acfed5607a126","type":"link out","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"InProgress","mode":"link","links":["39e73470e29ab28b","217b8246502f6d3c"],"x":2035,"y":700,"wires":[]},{"id":"8d7ee82cd63fec9a","type":"link out","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"Pause","mode":"link","links":["5acb907dfb2751d7","217b8246502f6d3c"],"x":2035,"y":740,"wires":[]},{"id":"20720c2cc6a7b951","type":"link out","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"Stop","mode":"link","links":["a152cbfa403e3408"],"x":2035,"y":780,"wires":[]},{"id":"a5f5d74ebd50d848","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 1","links":["3691824a66672e81"],"x":765,"y":1060,"wires":[["a44c05b5532e8a7e"]]},{"id":"39e73470e29ab28b","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 2","links":["ad4acfed5607a126"],"x":765,"y":1240,"wires":[["fd4fa42c24fdfe83","22cfeb7124dff484"]]},{"id":"5acb907dfb2751d7","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 3","links":["8d7ee82cd63fec9a"],"x":765,"y":1300,"wires":[["f0933c1f9e12afd9"]]},{"id":"12db8fbabe09b9d6","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","group":"e9d2ffc0.56619","order":11,"width":0,"height":0,"passthru":true,"label":"Disable","tooltip":"Block system 1h","color":"darkgreen","bgcolor":"wellow","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":360,"y":820,"wires":[["9c4a34bd85bfba21"]]},{"id":"7971b15445deb2d6","type":"mqtt in","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","topic":"shower_counter/Disable","qos":"2","datatype":"auto-detect","broker":"04d9cfd7994efe02","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":820,"wires":[["12db8fbabe09b9d6"]]},{"id":"c2c2c7d0109dee48","type":"function","z":"15e0c7d09fb8a8ab","g":"45017b418b1287bb","name":"ConvertHttp","func":"\nconst mesg_in= msg.payload\nmsg.payload=\"https://smsapi.free-mobile.fr/sendmsg?user=93277216&pass=dxsmyy6QD2QTmI&msg=CounterShower%20\" + mesg_in\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":420,"wires":[["70154cd4.de1444"]]},{"id":"b36aa30.3a7276","type":"http request","z":"15e0c7d09fb8a8ab","g":"45017b418b1287bb","name":"","method":"GET","ret":"txt","url":"","x":2250,"y":420,"wires":[[]]},{"id":"70154cd4.de1444","type":"change","z":"15e0c7d09fb8a8ab","g":"45017b418b1287bb","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":420,"wires":[["b36aa30.3a7276"]]},{"id":"d450153f6af7777c","type":"comment","z":"15e0c7d09fb8a8ab","g":"45017b418b1287bb","name":"Envoyer SMS Notif","info":"Envoyer SMS Notif","x":1950,"y":360,"wires":[]},{"id":"509cd13f3ccab92a","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"shower_counter/state","topic":"shower_counter/state","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":1860,"y":560,"wires":[]},{"id":"ae3466c7914f2853","type":"mqtt out","z":"15e0c7d09fb8a8ab","g":"278893b3954fc65d","name":"","topic":"shower_counter/water_5s","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"04d9cfd7994efe02","x":1250,"y":440,"wires":[]},{"id":"4bb1abb4c941c871","type":"api-current-state","z":"15e0c7d09fb8a8ab","d":true,"g":"197de84bbf9fbdad","name":"TestNoWater5s","server":"bf9de841.3818b8","version":3,"outputs":2,"halt_if":"1300","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.chauffeeauctrl_water_pulse_counter","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":680,"wires":[["eb18f1678a25a144","15d2192a87f991d6","2ff0d7ee21d56682"],["1ec1ead7826180fe","ae3466c7914f2853"]]},{"id":"5153af7a605f7a48","type":"comment","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"Trigger water  consumption","info":"","x":910,"y":320,"wires":[]},{"id":"822668cd5e66d473","type":"rbe","z":"15e0c7d09fb8a8ab","d":true,"g":"2923bbff68ab2aab","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1650,"y":760,"wires":[["c2c2c7d0109dee48","ad9dd9e9106bed3e","9d78765f5128e4e9","96b235d279377712"]]},{"id":"a36b6351ec4cbc0b","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","group":"e9d2ffc0.56619","order":12,"width":0,"height":0,"passthru":true,"label":"Disable 3h","tooltip":"Disable 3h","color":"darkgreen","bgcolor":"wellow","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":370,"y":880,"wires":[["4f7615fefb6a9dd0"]]},{"id":"4f7615fefb6a9dd0","type":"timer-node","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"Timer3h","topic":"","timer":"10800","payloadOn":"true","payloadOnType":"bool","payloadOff":"false","payloadOffType":"bool","x":580,"y":880,"wires":[["22abba057d5d93a2"],[]]},{"id":"5eccb2c3621550d0","type":"mqtt in","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","topic":"shower_counter/Disable3h","qos":"2","datatype":"auto-detect","broker":"04d9cfd7994efe02","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":880,"wires":[["a36b6351ec4cbc0b"]]},{"id":"273387074bb270b3","type":"debug","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"GetInputStateMachine","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":600,"wires":[]},{"id":"96b235d279377712","type":"debug","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"StateMachine","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2030,"y":880,"wires":[]},{"id":"a152cbfa403e3408","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 4","links":["20720c2cc6a7b951"],"x":1815,"y":2180,"wires":[["b0c95ccb5f7c1425"]]},{"id":"217b8246502f6d3c","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 5","links":["3691824a66672e81","8d7ee82cd63fec9a","ad4acfed5607a126"],"x":1805,"y":2100,"wires":[["fd3fef16ce5d9f59"]]},{"id":"20eb19b4c6e12958","type":"ui_chart","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"","group":"5295e8cc4624a764","order":19,"width":0,"height":0,"label":"EauDeclenche","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":640,"wires":[[]]},{"id":"2ff0d7ee21d56682","type":"ui_chart","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"","group":"5295e8cc4624a764","order":20,"width":0,"height":0,"label":"Eau","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea82e","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":740,"wires":[[]]},{"id":"c24f3b0710612f6d","type":"ui_text","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","group":"e9d2ffc0.56619","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1650,"y":560,"wires":[]},{"id":"fa9286d55f110b05","type":"ui_button","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","group":"e9d2ffc0.56619","order":13,"width":0,"height":0,"passthru":true,"label":"Enable","tooltip":"unBlock system","color":"green","bgcolor":"black","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":360,"y":940,"wires":[["6190d7d854e6bbc5"]]},{"id":"2e14033cf70413c5","type":"mqtt in","z":"15e0c7d09fb8a8ab","g":"6c284ee05d23193c","name":"","topic":"shower_counter/Enable","qos":"2","datatype":"auto-detect","broker":"04d9cfd7994efe02","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":940,"wires":[["fa9286d55f110b05"]]},{"id":"b9fb06eb5dfe5677","type":"debug","z":"15e0c7d09fb8a8ab","g":"96adc970f347a9f2","name":"Après Go","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Go","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1440,"wires":[]},{"id":"ef32a8c12b97af96","type":"debug","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"WaterPresent1min","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"c7c75fea07cf6084","type":"debug","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"Water12min","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":320,"wires":[]},{"id":"cd264cf4adf89e6c","type":"link in","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"link in 6","links":["277f14d02b3969e3","703a796c7b9d55c6"],"x":405,"y":520,"wires":[["92740f885b3cb1d8"]]},{"id":"90b5eff9867fcd80","type":"link in","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"link in 7","links":["35242554e164a077","6ec86b745c9f1688"],"x":405,"y":580,"wires":[["ad88363e239e3819","1ab9ec3a179fe529"]]},{"id":"bb284ad6a416d70e","type":"link in","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"link in 8","links":["564e84c66707fcd3","d4d32c1312dfe2b5"],"x":705,"y":740,"wires":[["eb18f1678a25a144","1ec1ead7826180fe"]]},{"id":"9d78765f5128e4e9","type":"ui_text","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","group":"5295e8cc4624a764","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1870,"y":640,"wires":[]},{"id":"2a47da02ae142b15","type":"ui_text","z":"15e0c7d09fb8a8ab","g":"ba3907d622ec968f","group":"5295e8cc4624a764","order":18,"width":0,"height":0,"name":"","label":"Décompte","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1810,"y":1000,"wires":[]},{"id":"6d2e0ff6d2703460","type":"debug","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"ComputeGo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"1ab9ec3a179fe529","type":"debug","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":560,"wires":[]},{"id":"aeb3fe88971d7e3b","type":"link in","z":"15e0c7d09fb8a8ab","name":"link in 9","links":["e7d9ae6a07dd2884"],"x":915,"y":900,"wires":[["6190d7d854e6bbc5"]]},{"id":"fd4fa42c24fdfe83","type":"debug","z":"15e0c7d09fb8a8ab","name":"avant GO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1140,"wires":[]},{"id":"aa3c2bec6cd6c6d1","type":"debug","z":"15e0c7d09fb8a8ab","g":"197de84bbf9fbdad","name":"getValeau12 min","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"24dddfaef5f612d9","type":"debug","z":"15e0c7d09fb8a8ab","g":"2923bbff68ab2aab","name":"Commuter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2000,"y":820,"wires":[]},{"id":"32295fc9ae94c90b","type":"debug","z":"d2efc6fd01096702","d":true,"name":"Click Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":240,"wires":[]},{"id":"2a59643c607e37b7","type":"ha-button","z":"d2efc6fd01096702","d":true,"name":"flux_Reset","version":0,"debugenabled":false,"outputs":1,"entityConfig":"bc865c2fb8aadb1a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":260,"y":300,"wires":[["32295fc9ae94c90b"]]},{"id":"ee4aeeb4eae6796d","type":"ha-button","z":"d2efc6fd01096702","d":true,"name":"flux_Add 5 min","version":0,"debugenabled":false,"outputs":1,"entityConfig":"bc865c2fb8aadb1a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":280,"y":380,"wires":[["32295fc9ae94c90b"]]},{"id":"2262744c243300b0","type":"ha-button","z":"d2efc6fd01096702","d":true,"name":"flux_Disable","version":0,"debugenabled":false,"outputs":1,"entityConfig":"bc865c2fb8aadb1a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":270,"y":460,"wires":[["32295fc9ae94c90b"]]},{"id":"da0692ee76a4aa7e","type":"inject","z":"d2efc6fd01096702","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":560,"wires":[[]]},{"id":"2c6f657c0f670b9b","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"01cd577b4a9b2bd6","order":2,"width":0,"height":0,"passthru":true,"label":"Water 1 min all up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"2000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":170,"y":260,"wires":[["35242554e164a077","c1c502fecbd1972b"]]},{"id":"e177c5c7652eb3b4","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"01cd577b4a9b2bd6","order":1,"width":0,"height":0,"passthru":true,"label":"Water 1 min no all up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"2000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"10\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"500\"},{\"state\":\"3000\"},{\"state\":\"3000\"},{\"state\":\"3000\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":320,"wires":[["6ec86b745c9f1688"]]},{"id":"cdd0ea74585cb4ee","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"b19f23cc4bdb57f0","order":1,"width":0,"height":0,"passthru":true,"label":"No Water 5s","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":380,"wires":[["564e84c66707fcd3"]]},{"id":"6d21afbc570d932a","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"b19f23cc4bdb57f0","order":2,"width":0,"height":0,"passthru":true,"label":"Water 5s","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"3000","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":440,"wires":[["d4d32c1312dfe2b5"]]},{"id":"35242554e164a077","type":"link out","z":"6155a54048d3dfd0","name":"Water 1 min all up","mode":"link","links":["90b5eff9867fcd80"],"x":435,"y":260,"wires":[]},{"id":"2c20596c5ecf6637","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"895ba8aaf51fd7a0","order":1,"width":0,"height":0,"passthru":true,"label":"No water 12 min","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":200,"wires":[["703a796c7b9d55c6"]]},{"id":"ba84370662e84965","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"895ba8aaf51fd7a0","order":2,"width":0,"height":0,"passthru":true,"label":"water in 12 min","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"60\"},{\"state\":\"0\"},{\"state\":\"71\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"},{\"state\":\"0\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":160,"y":160,"wires":[["277f14d02b3969e3","d5165248a2d9b49c"]]},{"id":"277f14d02b3969e3","type":"link out","z":"6155a54048d3dfd0","name":"water in 12 min","mode":"link","links":["cd264cf4adf89e6c"],"x":435,"y":160,"wires":[]},{"id":"703a796c7b9d55c6","type":"link out","z":"6155a54048d3dfd0","name":"No water 12 min","mode":"link","links":["cd264cf4adf89e6c"],"x":435,"y":200,"wires":[]},{"id":"6ec86b745c9f1688","type":"link out","z":"6155a54048d3dfd0","name":"Water 1 min no all up","mode":"link","links":["90b5eff9867fcd80"],"x":435,"y":320,"wires":[]},{"id":"564e84c66707fcd3","type":"link out","z":"6155a54048d3dfd0","name":"No Water 5s","mode":"link","links":["bb284ad6a416d70e"],"x":435,"y":380,"wires":[]},{"id":"d4d32c1312dfe2b5","type":"link out","z":"6155a54048d3dfd0","name":"Water 5s","mode":"link","links":["bb284ad6a416d70e"],"x":435,"y":440,"wires":[]},{"id":"d5165248a2d9b49c","type":"debug","z":"6155a54048d3dfd0","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":80,"wires":[]},{"id":"c1c502fecbd1972b","type":"debug","z":"6155a54048d3dfd0","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":220,"wires":[]},{"id":"e10b27c738e7a340","type":"ui_button","z":"6155a54048d3dfd0","name":"","group":"b19f23cc4bdb57f0","order":2,"width":0,"height":0,"passthru":true,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":500,"wires":[["e7d9ae6a07dd2884"]]},{"id":"e7d9ae6a07dd2884","type":"link out","z":"6155a54048d3dfd0","name":"Reset","mode":"link","links":["aeb3fe88971d7e3b"],"x":435,"y":500,"wires":[]},{"id":"709590e514cb33d2","type":"inject","z":"09b1844972f45de3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ValCounterMinuteDef","payloadType":"env","x":390,"y":60,"wires":[["1bf73de4ca1ce693"]]},{"id":"1bf73de4ca1ce693","type":"change","z":"09b1844972f45de3","name":"Set ValCounterMinuteDef","rules":[{"t":"set","p":"ValCounterMinuteDef","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":60,"wires":[[]]},{"id":"e84be546e015b92c","type":"debug","z":"09b1844972f45de3","name":"ValCounterMinuteDef","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":240,"wires":[]},{"id":"c44189a48f4d5d66","type":"change","z":"09b1844972f45de3","name":"Get ValCounterMinuteDef","rules":[{"t":"set","p":"payload","pt":"msg","to":"ValCounterMinuteDef","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["e84be546e015b92c"]]},{"id":"5ae344f65a3202e8","type":"inject","z":"09b1844972f45de3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ValSensorShowerMinimum","payloadType":"env","x":390,"y":100,"wires":[["14893ee7df268a1c"]]},{"id":"14893ee7df268a1c","type":"change","z":"09b1844972f45de3","name":"Set ValCounterMin","rules":[{"t":"set","p":"ValCounterMin","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[[]]},{"id":"d3970a674a9bc5f1","type":"debug","z":"09b1844972f45de3","name":"ValCounterMin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":300,"wires":[]},{"id":"0a07e0df219caa29","type":"change","z":"09b1844972f45de3","name":"Get ValCounterMin","rules":[{"t":"set","p":"payload","pt":"msg","to":"ValCounterMin","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["d3970a674a9bc5f1"]]},{"id":"74d752cf1944de90","type":"inject","z":"09b1844972f45de3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":350,"y":240,"wires":[["0a07e0df219caa29","c44189a48f4d5d66"]]},{"id":"51f747e46c010ddc","type":"comment","z":"09b1844972f45de3","name":"Set Global variable","info":"","x":370,"y":20,"wires":[]},{"id":"63468b26e1bf6a21","type":"inject","z":"09b1844972f45de3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":330,"y":140,"wires":[["72e56dd8f6ff8aaa"]]},{"id":"72e56dd8f6ff8aaa","type":"change","z":"09b1844972f45de3","name":"Set ValCounterMin","rules":[{"t":"set","p":"is_paused","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[[]]}]